NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres.xjdoamerrmoubwmyzrvh:grBfSI9qahkt47B6@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.xjdoamerrmoubwmyzrvh:grBfSI9qahkt47B6@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="db7702a8-6950-4f96-8b23-510b677d9957"
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
TZ=Asia/Jakarta